/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/base/_fonts.scss */
p, h1 {
  font-family: "Avenir Next";
}
/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/base/_fonts.scss */
p, h1 {
  font-family: "Avenir Next";
}

@media only screen and (max-width: 480px) {
  padding-left: 0;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  padding-left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  padding-left: 0;
}
@media only screen and (min-width: 959px) {
  padding-left: 0;
}
@media only screen and (max-width: 480px) {
  padding-left: 0;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  padding-left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  padding-left: 0;
}
@media only screen and (min-width: 959px) {
  padding-left: 0;
}
/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card {
  height: 6em;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
  opacity: 1.0;
}
/* line 8, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card :hover {
  opacity: 0.7;
}
/* line 11, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card a, .card p {
  color: white;
  text-decoration: none;
}
/* line 15, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h1 {
  font-size: 1em;
}
/* line 18, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h2 {
  color: black;
  font-family: "Avenir Next";
  font-size: 24px;
  margin: 0;
}
/* line 24, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h3 {
  font-size: 18px;
  color: white;
  margin: 0;
}
/* line 30, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h3, .card h4 {
  color: #02BEE8;
}
/* line 33, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h3 {
  font-size: 16px;
}

/* line 38, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card.link {
  width: 300px;
}
/* line 40, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card.link :hover {
  background-color: red;
}
/* line 43, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card.link p {
  color: black;
}

/* line 49, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#new-project {
  background-color: white;
}

/* line 53, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.tab {
  height: 100px;
  float: left;
  width: 200px;
}

/* line 59, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.tab-bar {
  overflow: auto;
}

/* line 64, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#active {
  font-family: "Avenir Next";
  width: 45%;
  font-size: 2em;
  opacity: 1;
  display: inline;
  margin-right: 10px;
  margin-left: 15px;
}

/* line 74, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#active:hover {
  opacity: 0.7;
}

/* line 78, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#past {
  font-family: "Avenir Next";
  width: 45%;
  font-size: 2em;
  color: white;
  background-color: #02BEE8;
  opacity: 1;
  margin-right: 15px;
}

/* line 88, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#past:hover {
  opacity: 0.7;
}

/* line 92, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#upload {
  margin-top: 30px;
  border: 1px dashed grey;
  padding: 40px 30px;
  box-shadow: none;
  height: 200px;
}

/* line 100, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card img {
  width: 20%;
  background-repeat: none;
}

/* line 105, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.row {
  overflow: hidden;
}
/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_footer.scss */
.footer {
  background-color: black;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
}
/* line 6, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_footer.scss */
.footer p {
  color: white;
}
/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_form.scss */
.field label {
  font-size: 20px;
  font-family: "Avenir Next";
}

/* line 6, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_form.scss */
.field#issue_photo {
  font-family: "Avenir Next";
}

/* line 10, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_form.scss */
#new_issue .actions input {
  background-color: #fc50eb;
  width: 150px;
  padding: 5px;
  font-family: "Avenir Next";
  border-radius: 3px;
  box-shadow: none;
}
/* Main class */
/* line 2, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background-color: #02BEE8;
  color: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}
/* line 12, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon a {
  color: white;
  text-decoration: none;
}
/* line 16, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon a:hover {
  text-decoration: none;
}
/* line 21, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon h1 {
  font-family: "Avenir Next";
  font-size: 32px;
}

/* Optional class to fix the navbar on top */
/* line 28, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
/* line 37, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-brand img {
  width: 50px;
}

/* Navbar right section (with form, links, button) */
/* line 42, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
/* line 49, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
/* line 56, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}

/* line 60, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Navbar right button */
/* line 66, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}

/* line 76, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
/* line 83, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}

/* line 90, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}

/* line 100, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}

/* line 112, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search-input:focus {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
/* line 117, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

/* line 122, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

/* line 130, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

/* line 134, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card {
  height: 6em;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
  opacity: 1.0;
}
/* line 8, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card :hover {
  opacity: 0.7;
}
/* line 11, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card a, .card p {
  color: white;
  text-decoration: none;
}
/* line 15, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h1 {
  font-size: 1em;
}
/* line 18, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h2 {
  color: black;
  font-family: "Avenir Next";
  font-size: 24px;
  margin: 0;
}
/* line 24, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h3 {
  font-size: 18px;
  color: white;
  margin: 0;
}
/* line 30, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h3, .card h4 {
  color: #02BEE8;
}
/* line 33, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h3 {
  font-size: 16px;
}

/* line 38, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card.link {
  width: 300px;
}
/* line 40, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card.link :hover {
  background-color: red;
}
/* line 43, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card.link p {
  color: black;
}

/* line 49, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#new-project {
  background-color: white;
}

/* line 53, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.tab {
  height: 100px;
  float: left;
  width: 200px;
}

/* line 59, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.tab-bar {
  overflow: auto;
}

/* line 64, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#active {
  font-family: "Avenir Next";
  width: 45%;
  font-size: 2em;
  opacity: 1;
  display: inline;
  margin-right: 10px;
  margin-left: 15px;
}

/* line 74, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#active:hover {
  opacity: 0.7;
}

/* line 78, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#past {
  font-family: "Avenir Next";
  width: 45%;
  font-size: 2em;
  color: white;
  background-color: #02BEE8;
  opacity: 1;
  margin-right: 15px;
}

/* line 88, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#past:hover {
  opacity: 0.7;
}

/* line 92, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#upload {
  margin-top: 30px;
  border: 1px dashed grey;
  padding: 40px 30px;
  box-shadow: none;
  height: 200px;
}

/* line 100, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card img {
  width: 20%;
  background-repeat: none;
}

/* line 105, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.row {
  overflow: hidden;
}

/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_form.scss */
.field label {
  font-size: 20px;
  font-family: "Avenir Next";
}

/* line 6, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_form.scss */
.field#issue_photo {
  font-family: "Avenir Next";
}

/* line 10, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_form.scss */
#new_issue .actions input {
  background-color: #fc50eb;
  width: 150px;
  padding: 5px;
  font-family: "Avenir Next";
  border-radius: 3px;
  box-shadow: none;
}

/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_footer.scss */
.footer {
  background-color: black;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
}
/* line 6, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_footer.scss */
.footer p {
  color: white;
}

/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_notice.scss */
#notice {
  height: 30px;
  width: 100%;
  padding: 2%;
}
/* Main class */
/* line 3, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background-color: #02BEE8;
  color: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}
/* line 13, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon a {
  color: white;
  text-decoration: none;
}
/* line 17, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon a:hover {
  text-decoration: none;
}
/* line 22, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon h1 {
  font-family: "Avenir Next";
  font-size: 32px;
}

/* Optional class to fix the navbar on top */
/* line 29, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
/* line 38, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-brand img {
  width: 50px;
}

/* Navbar right section (with form, links, button) */
/* line 43, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
/* line 50, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
/* line 57, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}

/* line 61, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Navbar right button */
/* line 67, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}

/* line 77, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
/* line 84, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}

/* line 91, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}

/* line 101, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}

/* line 113, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search-input:focus {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
/* line 118, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

/* line 123, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

/* line 131, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

/* line 135, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_notice.scss */
#notice {
  height: 30px;
  width: 100%;
  padding: 2%;
}
/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#share-link {
  height: 3em;
  font-size: 24px;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
  text-decoration: none;
  background-color: #f7f7f7;
  display: block;
  opacity: 1.0;
}
/* line 14, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#share-link a {
  text-align: center;
  color: #02BEE8;
}

/* line 20, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
img {
  text-align: center;
}

/* line 24, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#project_detail p, h1, h2, h3, h4 {
  font-family: "Avenir Next";
}

/* line 28, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#project_detail h1 {
  margin-top: 40px;
}
/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#share-link {
  height: 3em;
  font-size: 24px;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
  text-decoration: none;
  background-color: #f7f7f7;
  display: block;
  opacity: 1.0;
}
/* line 14, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#share-link a {
  text-align: center;
  color: #02BEE8;
}

/* line 20, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
img {
  text-align: center;
}

/* line 24, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#project_detail p, h1, h2, h3, h4 {
  font-family: "Avenir Next";
}

/* line 28, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#project_detail h1 {
  margin-top: 40px;
}
/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: "Avenir Next";
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
}

/* line 11, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  font-family: "Avenir Next";
}

/* line 18, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
h1 {
  font-family: "Avenir Next";
}

/* line 22, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
h4 {
  color: blue;
}

/* line 26, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 32, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
  font-family: "Avenir Next";
}
/* line 36, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 40, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
}

/* line 46, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 50, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 57, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 62, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 66, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 72, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 80, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 91, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 97, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* Main class */
/* line 2, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background-color: #02BEE8;
  color: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}
/* line 12, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon a {
  color: white;
  text-decoration: none;
}
/* line 16, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon a:hover {
  text-decoration: none;
}
/* line 21, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon h1 {
  font-family: "Avenir Next";
  font-size: 32px;
}

/* Optional class to fix the navbar on top */
/* line 28, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
/* line 37, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-brand img {
  width: 50px;
}

/* Navbar right section (with form, links, button) */
/* line 42, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
/* line 49, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
/* line 56, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}

/* line 60, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Navbar right button */
/* line 66, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}

/* line 76, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
/* line 83, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}

/* line 90, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}

/* line 100, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}

/* line 112, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-search-input:focus {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
/* line 117, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

/* line 122, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

/* line 130, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

/* line 134, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_navbar.scss */
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card {
  height: 6em;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
  opacity: 1.0;
}
/* line 8, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card :hover {
  opacity: 0.7;
}
/* line 11, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card a, .card p {
  color: white;
  text-decoration: none;
}
/* line 15, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h1 {
  font-size: 1em;
}
/* line 18, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h2 {
  color: black;
  font-family: "Avenir Next";
  font-size: 24px;
  margin: 0;
}
/* line 24, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h3 {
  font-size: 18px;
  color: white;
  margin: 0;
}
/* line 30, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h3, .card h4 {
  color: #02BEE8;
}
/* line 33, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card h3 {
  font-size: 16px;
}

/* line 38, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card.link {
  width: 300px;
}
/* line 40, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card.link :hover {
  background-color: red;
}
/* line 43, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card.link p {
  color: black;
}

/* line 49, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#new-project {
  background-color: white;
}

/* line 53, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.tab {
  height: 100px;
  float: left;
  width: 200px;
}

/* line 59, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.tab-bar {
  overflow: auto;
}

/* line 64, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#active {
  font-family: "Avenir Next";
  width: 45%;
  font-size: 2em;
  opacity: 1;
  display: inline;
  margin-right: 10px;
  margin-left: 15px;
}

/* line 74, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#active:hover {
  opacity: 0.7;
}

/* line 78, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#past {
  font-family: "Avenir Next";
  width: 45%;
  font-size: 2em;
  color: white;
  background-color: #02BEE8;
  opacity: 1;
  margin-right: 15px;
}

/* line 88, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#past:hover {
  opacity: 0.7;
}

/* line 92, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card#upload {
  margin-top: 30px;
  border: 1px dashed grey;
  padding: 40px 30px;
  box-shadow: none;
  height: 200px;
}

/* line 100, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.card img {
  width: 20%;
  background-repeat: none;
}

/* line 105, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_card.scss */
.row {
  overflow: hidden;
}

/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_form.scss */
.field label {
  font-size: 20px;
  font-family: "Avenir Next";
}

/* line 6, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_form.scss */
.field#issue_photo {
  font-family: "Avenir Next";
}

/* line 10, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_form.scss */
#new_issue .actions input {
  background-color: #fc50eb;
  width: 150px;
  padding: 5px;
  font-family: "Avenir Next";
  border-radius: 3px;
  box-shadow: none;
}

/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_footer.scss */
.footer {
  background-color: black;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
}
/* line 6, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_footer.scss */
.footer p {
  color: white;
}

/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/components/_notice.scss */
#notice {
  height: 30px;
  width: 100%;
  padding: 2%;
}

/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/base/_fonts.scss */
p, h1 {
  font-family: "Avenir Next";
}

@media only screen and (max-width: 480px) {
  padding-left: 0;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  padding-left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  padding-left: 0;
}
@media only screen and (min-width: 959px) {
  padding-left: 0;
}
/* line 1, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#share-link {
  height: 3em;
  font-size: 24px;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
  text-decoration: none;
  background-color: #f7f7f7;
  display: block;
  opacity: 1.0;
}
/* line 14, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#share-link a {
  text-align: center;
  color: #02BEE8;
}

/* line 20, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
img {
  text-align: center;
}

/* line 24, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#project_detail p, h1, h2, h3, h4 {
  font-family: "Avenir Next";
}

/* line 28, /Users/fredrikforstbach/code/FForstbach/great-city/app/assets/stylesheets/pages/_show.scss */
#project_detail h1 {
  margin-top: 40px;
}
