.field label {
  font-size: 20px;
  font-family: "Avenir Next";
}

.field#issue_photo {
  font-family: "Avenir Next";
}

#new_issue .actions input {
  background-color: #fc50eb;
  width: 150px;
  padding: 5px;
  font-family: "Avenir Next";
  border-radius: 3px;
  box-shadow: none;
}
